.parent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centerDiv {
    align-self: center;
    align-content: center;
    margin: 1%;
}

.title {
    font-size: xx-large;
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}